<!-- wp:pattern {"slug":"screen-time-fse/screen-time-header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"fontSize":"4xl"} -->
<h2 class="wp-block-heading has-4-xl-font-size">Movies</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":7,"query":{"perPage":15,"pages":0,"offset":0,"postType":"rt-movie","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[]},"metadata":{"categories":["posts"],"patternName":"core/query-standard-posts","name":"Standard"},"className":"archive-movie-grid"} -->
<div class="wp-block-query archive-movie-grid"><!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:pattern {"slug":"screen-time-fse/movie-card-synced"} /-->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"className":"movie-pagination"} -->
<!-- wp:query-pagination-numbers {"midSize":1} /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"screen-time-fse/fse-footer"} /-->