@import url('./components/header.css');
@import url('./components/navigation.css');
@import url('./components/slider.css');
@import url('./components/cards.css');
@import url('./components/footer.css');
