@media (max-width: 1279px) {
  :root {
    --container-gutter: 40px;
  }
}

@media (max-width: 1023px) {
  :root {
    --container-gutter: 24px;
  }

  .site-header__top-bar {
    min-height: 105px; /* appvalue: temporary until exact figma number is provided */
  }

  .site-header__top-inner {
    justify-content: flex-start;
    gap: 63px;
  }

  .site-logo {
    font-size: 2rem;
    line-height: 1;
    padding-block: 32px;
  }

  .header-icon-button,
  .header-menu-toggle {
    display: inline-flex;
    width: 24px;
    height: 24px;
    padding-block: 40px;
    align-items: center;
    justify-content: center;
  }

  .header-action-text,
  .header-action-link,
  .header-language,
  .site-header__nav-bar {
    display: none;
  }
}
